.ex1 p{
	float: left;
	width: 50%;
}

/*Center a square div on the screen, both horizontally and vertically.*/
.ex2 .center{
	width:300px;
	height:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-100px 0 0 -150px;
}

/*
	Define a special color for links that have an image beside them, 
	keep the default style otherwise.  
*/
.ex3 img + a {
   color: red;
}

/*Create a page with multiple backgrounds*/
.ex4{

	background-image: url(img/android.jpg), url(img/ignasi_pattern_s.png);
	background-position: center bottom, top left;
	background-repeat: no-repeat, repeat;
}