.ex1 p{
	float: left;
	width: 50%;
}

/*Center a square div on the screen, both horizontally and vertically.*/
.ex2 .center{
	width:300px;
	height:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-100px 0 0 -150px;
}

/*
	Define a special color for links that have an image beside them, 
	keep the default style otherwise.  
*/
.ex3 img + a {
   color: red;
}

/*Create a page with multiple backgrounds*/
.ex4{

	background-image: url(img/android.jpg), url(img/ignasi_pattern_s.png);
	background-position: center bottom, top left;
	background-repeat: no-repeat, repeat;
}

/* Create an element that will wobble when hovered over  */

.ex5 .wooble{
	font-size: 50px;
	text-align: center;
}

.ex5 .wooble:hover{
	animation: wooble 1s;
}

@keyframes wooble{
	from{ 
		transform:  rotate(0deg); 
	}
	20%, 60%{
		transform:  rotate(60deg); 
	}
	40%, 80%{
		transform: rotate(-60deg);
	}

	to{
		transform:  rotate(0deg); 
	}
}

/*Show visual feedback when a user inputs invalid information in a form.
*/
form{
	width: 500px;
	margin: 0 auto;
}
form label{
	display: inline-block;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-group{
	margin-bottom: 10px;
}

input{
	display: block;
	width: 100%;
	border: 1px solid #CCC;
	border-radius: 4px;
}

.form-control:invalid{ 
    background-color: hsla(0, 90%, 70%, 1);
}

.form-control:valid{
	background-color: hsla(100, 90%, 70%, 1);
}
.validation{
	display: none;
	color: red;
}

.ex6 *{
	margin: 0px;
	box-sizing: border-box;

}
.ex6 header{
	width: 100%;
	height: 40px;
	background-color: #CCC;
}

.ex6 .wrapper{
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.ex6 .newsSection, .ex6 .newsSection:before{
	width: 10%;
}
.ex6 .newsSection{
	background-color: #CCC;
	float: left;
	padding: 5px;
}

.ex6 .newsection:before{
	content: '';
	position: absolute;
	top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    background-color: #CCC;
}


.ex6 .maincontent,.ex6 .maincontent:before{
	width: calc(50% - 10px);
}
.ex6 .maincontent{
	background-color: #CCC;
	float: left;
	padding: 5px;
	margin-left: 10px;
}

.ex6 .maincontent:before{
	content: '';
	position: absolute;
	top: 0;
    bottom: 0;
    z-index: -1;
    left: calc(10% + 10px);
    background-color: #CCC;
}

.ex6 .otherLinks, .ex6 .otherLinks:before{
	width: calc(40% - 10px);
}	

.ex6 .otherLinks{
	background-color: #CCC;
	padding: 5px;
	float: left;
	margin-left: 10px;
}

.ex6 .otherLinks:before{
	content: '';
	position: absolute;
	top: 0;
    bottom: 0;
    z-index: -1;
    left: calc(60% + 10px);
    background-color: #CCC;
}

footer{
	background-color: #CCC;
	clear: both;
	width: 100%;
	height: 40px;
}